<div class="sticky-header d-flex flex-column px-3 w-100">
  <ng-container *ngTemplateOutlet="breadcrumb"></ng-container>
</div>

<ng-container *ngIf="cartConfig">
  <ng-container *ngIf="cartConfig.items?.length > 0; else noShoppingCart">
    <div class="shopping-cart-content d-flex card transparent flex-column mb-3 p-3 w-100 alert-dismissible fade show">
      <h4 class="ps-2 mb-2 text-start mb-3">{{'shoppingCart.title' | translate}}</h4>
      <div
        class="
          alert alert-info
          d-flex
          justify-content-start
          align-items-start
          py-1
          px-2
          mt-0
          mb-2
        "
      >
        <i class="fas fa-info-circle mt-1 me-2"></i>
        <small class="text-start"
          >{{'shoppingCart.description' | translate}}</small
        >
        <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div
        class="
          alert alert-light
          d-flex
          justify-content-start
          align-items-start
          py-1
          px-2
          mt-0
          mb-2
        "
      >
        <i class="fas fa-wand-magic-sparkles mt-1 me-2"></i>
        <small class="text-start pe-4"
          ><strong class="me-2">{{'shoppingCart.trick.title' | translate}}</strong><p class="m-0">{{'shoppingCart.trick.text' | translate}}</p></small
        >
        <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <!-- Totals -->
      <div class="d-flex w-100" *ngTemplateOutlet="totals"></div>

      <div
        class="d-flex w-100 justify-content-end align-items-center ps-2 mb-3"
      >
        <button class="btn btn-secondary" (click)="removeCart()">
          <span
            ><i class="fa fa-cart-arrow-down me-2"></i>{{'shoppingCart.doEmpty' | translate}}</span
          >
        </button>
      </div>

      <ng-container *ngFor="let cartItem of cartConfig.items">
        <ng-container *ngIf="cartItem.shop">
          <div
            class="
              modal-content
              d-flex
              flex-column
              justify-content-start
              align-items-start
              p-3
              flex-row
              w-100
              mb-2
            "
          >
            <img class="shop-logo" [src]="cartItem?.shop?.imageUrl" />

            <!-- <span class="shop-name ps-2">{{ cartItem.shop.name }}</span> -->
            <div
              class="product-list-container d-flex flex-column w-100 mt-1 pt-2"
            >
              <table>
                <tbody>
                  <tr *ngFor="let productUnits of cartItem.productsUnits">
                    <td>
                      <i class="fas fa-angle-right me-2 mt-1"></i>
                    </td>
                    <td class="pe-2" [ngClass]="{'checked-product':productUnits.checked}" (click)="toggleCartProductMarked(productUnits)">
                      {{ productUnits.product.name }}
                      <span>
                        (x{{ productUnits.units | number: '1.0-2' }})</span
                      >
                    </td>
                    <td>
                      <div
                        class="
                          d-flex
                          nowrap
                          justify-content-end
                          align-items-center
                        "
                      >
                        <span class="fw-bold"
                          >{{ productUnits.minPrice | number: '1.0-2' }} €</span
                        >
                        <i
                          class="fas fa-times cursor-pointer ms-2"
                          (click)="removeItem(productUnits.product)"
                        ></i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--
              <ul class="product-list m-0 p-0">
                <li *ngFor="let productUnits of cartItem.productsUnits">
                  <div class="d-flex justify-content-between w-100">
                    <div class="pe-2">
                      <i class="fas fa-angle-right me-2 mt-1"></i>
                      {{ productUnits.product.name }} ({{
                        productUnits.units | number: '1.0-2'
                      }})
                    </div>
                    <div
                      class="d-flex justify-content-start align-items-center"
                    >
                      <div>{{ productUnits.minPrice | number: '1.0-2' }} €</div>
                      <i
                        class="fas fa-times ms-2 cursor-pointer"
                        (click)="removeItem(productUnits.product)"
                      ></i>
                    </div>
                  </div>
                </li>
              </ul>
              -->
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template #totals>
  <div
    class="
      totals
      d-flex
      w-100
      justify-content-between
      align-items-center
      ps-2
      mt-3
      mb-1
    "
  >
  {{'shoppingCart.amountOptimized' | translate}}:
    <span class="badge-total transparent fw-bold ms-2 px-3 py-1 text-end"
      >{{ getAmountLow() | number: '1.0-2' }} €</span
    >
  </div>

  <div
    class="
      totals
      d-flex
      w-100
      justify-content-between
      align-items-center
      ps-2
      mb-1
    "
  >
  {{'shoppingCart.amountNoOptimized' | translate}}:
    <span class="badge-total transparent fw-bold ms-2 px-3 py-1 text-end"
      >{{ getAmountHigh() | number: '1.0-2' }} €</span
    >
  </div>

  <div
    class="
      totals
      d-flex
      w-100
      justify-content-between
      align-items-center
      ps-2
      mb-3
    "
  >
  {{'shoppingCart.amountSaved' | translate}}:
    <span
      class="badge-total transparent fw-bold ms-2 px-3 py-1 text-end"
      [ngClass]="{
        'bg-success': getAmountDiff() > 0,
        'text-success': getAmountDiff() > 0
      }"
      >{{
        getAmountDiff() * (getAmountDiff() > 0 ? -1 : 1) | number: '1.0-2'
      }}
      €</span
    >
  </div>
</ng-template>

<ng-template #noShoppingCart>
  <div class="d-flex p-2 w-100">
    <div
      class="d-flex justify-content-center mt-5 mx-3 alert alert-warning w-100"
    >
      <small>{{'shoppingCart.noProducts' | translate}}</small>
    </div>
  </div>
</ng-template>

<ng-template #breadcrumb>
  <div class="breadcrumb text-start">
    <span class="step">
      <a routerLink="/home">
        <i class="fas fa-home mx-2"></i
        ><span class="fst-italic text-decoration-underline">{{'breadcrumb.home' | translate}}</span></a
      ></span
    >
    <span class="divider mx-2">/</span>
    <span class="step fw-bold">{{'breadcrumb.shoppingCart' | translate}}</span>
  </div>
</ng-template>
