<div class="d-flex flex-column w-100">
  <div class="d-flex w-100"><h3>Backoffice</h3></div>
  <!-- TABS HEADER -->
  <ul class="nav nav-tabs ml-auto">
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ active: selectedTab === 0 }"
        href="javascript://"
        (click)="selectedTab = 0"
        >Dashboard</a
      >
    </li>
    <li class="nav-item ms-auto">
      <a
        class="nav-link"
        [ngClass]="{ active: selectedTab === 1 }"
        href="javascript://"
        (click)="selectedTab = 1"
        >Botigues
        <small class="ms-1">({{ shops.length | number: '1.0-2' }})</small></a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ active: selectedTab === 2 }"
        href="javascript://"
        (click)="selectedTab = 2"
        >Productes
        <small class="ms-1">({{ products.length | number: '1.0-2' }})</small></a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ active: selectedTab === 3 }"
        href="javascript://"
        (click)="selectedTab = 3"
        >Preus<small class="ms-1"
          >({{ shopsProducts?.length | number: '1.0-2' }})</small
        ></a
      >
    </li>
  </ul>

  <!-- TABS CONTENTS -->
  <div class="tab-content">
    <div class="tab-pane d-flex w-100" *ngIf="selectedTab === 0">
      <app-backoffice-dashboard
        [shops]="shops"
        [products]="products"
        [shopsProducts]="shopsProducts"
      ></app-backoffice-dashboard>
    </div>
    <div class="tab-pane d-flex w-100" *ngIf="selectedTab === 1">
      <app-backoffice-shops 
        [shops]="shops"
        (onShopSortEmitter)="sortShops($event)"
        class="w-100"></app-backoffice-shops>
    </div>
    <div class="tab-pane d-flex w-100" *ngIf="selectedTab === 2">
      <app-backoffice-products 
        [products]="products"
        (onProductSortEmitter)="sortProducts($event)"
        class="w-100"></app-backoffice-products>
    </div>
    <div class="tab-pane d-flex w-100" *ngIf="selectedTab === 3">
      <app-backoffice-shops-products 
        [products]="products"
        [shops]="shops"
        [shopsProducts]="shopsProducts"
        (onShopProductSortEmitter)="sortShopsProducts($event)"
        class="w-100"></app-backoffice-shops-products>
    </div>
  </div>
</div>
