<div
  class="
    page
    d-flex
    flex-column
    justify-content-start
    align-items-center
    p-3
    pt-0
    w-100
    ms-auto
    me-auto
  "
>
  <div
    class="
      d-flex
      flex-column
      justify-content-start
      align-items-center
      w-100
      mb-2
    "
  >
    <div class="d-flex w-100 mt-3 mb-2 justify-content-between align-items-center">
      <h3 class="ps-3 m-0 w-100 text-start">
        {{ 'login.registering' | translate }}
      </h3>
    </div>
  </div>

  <div class="d-flex flex-column mb-1 w-100">
    <div class="d-flex flex-row">
      <div class="d-flex flex-column w-100 p-3 pb-0">
        
        <div class="form-group mb-3 w-100 text-start">
          <label for="email" class="fw-bold">{{
            'login.email' | translate
          }}</label>
          <input
            type="email"
            class="form-control"
            maxlength="125"
            id="email"
            [(ngModel)]="user.email"
            placeholder="{{ 'login.email' | translate }}"
          />
        </div>

        <div class="form-group mb-3 w-100 text-start">
          <label for="password" class="fw-bold">{{
            'login.password' | translate
          }}</label>
          <input
            type="password"
            class="form-control"
            id="password"
            maxlength="20"
            [(ngModel)]="user.password"
            placeholder="{{ 'login.password' | translate }}"
          />
        </div>

        <div class="form-group mb-3 w-100 text-start">
            <label for="passwordRepeat" class="fw-bold">{{
              'login.passwordRepeat' | translate
            }}</label>
            <input
              type="password"
              class="form-control"
              id="passwordRepeat"
              maxlength="20"
              [(ngModel)]="user.passwordRepeat"
              placeholder="{{ 'login.passwordRepeat' | translate }}"
            />
          </div>

        <span class="text-start text-danger mb-2" *ngIf="canAccess() && (registerError || !validatePasswords())">
            <small *ngIf="registerError">{{'login.registerError' | translate}}</small>
            <small *ngIf="!validatePasswords() && user.passwordRepeat.length>5 && user.password.length>5">{{'login.passwordsDifferentError' | translate}}</small>
            <small *ngIf="!validatePasswords() && (user.passwordRepeat.length<6 || user.password.length<6)">{{'login.passwordLengthError' | translate}}</small>
        </span>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column px-3 w-100">
    <button
      class="btn btn-secondary btn-block w-100 mb-2"
      [ngClass]="{ disabled: !canAccess() || !validatePasswords() }"
      (click)="register()"
    >
      {{ 'login.doRegister' | translate }}
    </button>

    <button
      class="btn btn-white btn-block w-100"
      (click)="goToLogin()"
    >
      {{ 'commons.back' | translate }}
    </button>
  </div>
</div>