<div
  class="
    d-flex
    justify-content-start
    align-items-center
    w-100
    search-header-container
  "
>
  <ng-container>
    <div class="d-flex flex-column w-100">
      <div class="d-flex flex-column px-3 w-100">
        <ng-container *ngTemplateOutlet="breadcrumb"></ng-container>
      </div>

      <div class="d-flex flex-column align-items-center px-3">
        <div class="input-group">
          <input
            #purchaseSearchInput
            type="text"
            class="form-control"
            [value]="searchText"
            placeholder="{{'purchases.searchPlaceholder' | translate}}"
            aria-label="Cerca per nom"
          />
          <span class="input-group-text h-100"
            ><i class="fas fa-search"></i
          ></span>
        </div>        
      </div>
    </div>
  </ng-container>
</div>

<div class="search-content d-flex flex-column mb-4 px-3 pt-3 w-100">
  <!-- Purchases list -->
  <ng-container *ngIf="purchases; else loading">
    <ng-container *ngIf="purchases?.length > 0; else noData">
      <div class="d-flex flex-column w-100">
        <ng-container *ngIf="!isMobile">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th i18n>Data</th>
                        <th i18n>Producte/marca</th>
                        <th class="text-end" i18n>Preu</th>
                        <th i18n>Botiga</th>
                        <th i18n>Comprador</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let purchase of purchasesSearch;">
                        <ng-container *ngIf="matchesFilter(purchase)">
                            <tr>
                                <td>{{purchase.updateDate | date: 'dd.MM.yyyy'}}</td>
                                <td>
                                  <div class="d-flex flex-column justify-content-start align-items-start">
                                    <span class="text-link fw-bold" (click)="viewProduct(purchase.productBarcode)">{{(getProduct(purchase.productBarcode)) ? getProduct(purchase.productBarcode).name : 'Barcode not found: ' + purchase.productBarcode}}</span>
                                    <small>{{getProduct(purchase.productBarcode)?.brand}}</small>
                                  </div>                                  
                                </td>
                                <td class="text-end">{{purchase.price | number: '1.2-2'}} €</td>
                                <td><span class="text-link fw-bold" (click)="viewShop(purchase.shopId)">{{getShop(purchase.shopId)?.name}}</span></td>
                                <td>{{(purchase.createdBy) ? purchase.createdBy.username : '-'}}</td>
                            </tr>
                        </ng-container>                    
                    </ng-container>                
                </tbody>            
            </table>
        </ng-container>
        <ng-container *ngIf="isMobile">
            <ul class="list-group">
                <ng-container *ngFor="let purchase of purchasesSearch;">
                    <ng-container *ngIf="matchesFilter(purchase)">
                        <li class="list-group-item">
                            <div class="d-flex flex-column justify-content-start align-items-start w-100 h-100">
                                <div class="d-flex w-100 justify-content-between">
                                    <small>{{purchase.updateDate | date: 'dd.MM.yyyy'}}</small>
                                    <small class="text-link" (click)="viewShop(purchase.shopId)">{{getShop(purchase.shopId)?.name}}</small>
                                </div>
                                <div class="d-flex justify-content-start w-100 fw-bold text-start">
                                    <span class="cursor-pointer" (click)="viewProduct(purchase.productBarcode)">{{(getProduct(purchase.productBarcode)) ? getProduct(purchase.productBarcode).name : 'Barcode not found: ' + purchase.productBarcode}}</span>
                                </div>
                                <div class="d-flex justify-content-between w-100 text-start" *ngIf="getProduct(purchase.productBarcode)">
                                    <small class="text-gray">{{getProduct(purchase.productBarcode).brand}}</small>
                                    <div class="purchase-price-badge">
                                        {{purchase.price | number: '1.2-2'}} €
                                    </div>
                                </div>
                                <div class="d-flex w-100 justify-content-end w-100 text-end mt-1">
                                  <small class="font-italic">{{purchase.createdBy?.username}}</small>
                                </div>
                            </div>
                        </li>
                    </ng-container>                    
                </ng-container>  
              </ul>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #noData>
  <div
    class="
      mb-3
      mt-3
      d-flex
      flex-column
      justify-content-center
      align-items-center
      w-100
      h-100
      no-data
    "
  >
    <small *ngIf="purchases.length === 0 && !loading" class="no-data-msg ps-4"
      >{{'purchases.noData' | translate}}</small
    >
  </div>
</ng-template>

<ng-template #noProductImage>
  <i class="fas fa-image no-product-image-icon"></i>
</ng-template>

<ng-template #breadcrumb>
  <div class="breadcrumb text-start">
    <span class="step cursor-pointer" (click)="exit()">
      <i class="fas fa-home mx-2"></i
      ><span class="fst-italic text-decoration-underline">{{'breadcrumb.home' | translate}}</span></span
    >
    <span class="divider mx-2">/</span>
    <span class="step fw-bold">{{'purchases.purchases' | translate}}</span>
  </div>
</ng-template>

<ng-template #loading>
  <div class="page d-flex justify-content-center align-items-center w-100">
    {{'commons.loading' | translate}}
  </div>
</ng-template>
