<div class="shop-search d-flex flex-column w-100">
  <div class="d-flex w-100 my-3">
    <button
      class="btn btn-lg btn-secondary w-100 m-1 py-3"
      (click)="doCreateShop()"
    >
      <div class="d-flex align-items-center justify-content-center">
        <i class="fas fa-plus me-3"></i>
        <div class="text-start">Nova botiga</div>
      </div>
    </button>
  </div>
  <div class="d-flex justify-content-start align-items-center w-100 my-3">
    <ng-container *ngIf="shops?.length > 0">
      <div class="input-group d-flex align-items-center">
        <span
          (click)="onlyFavourites = !onlyFavourites"
          title="Nomès favorites"
          class="fa-star mx-2"
          [ngClass]="{ far: !onlyFavourites, fas: onlyFavourites }"
        ></span>
        <input
          #shopSearchInput
          type="text"
          class="form-control"
          placeholder="Cerca per nom"
          aria-label="Cerca per nom"
        />
        <span class="input-group-text"><i class="fas fa-search"></i></span>
      </div>
    </ng-container>
  </div>
  <!-- Exists data -->
  <ng-container *ngIf="shops?.length > 0; else noData">
    <div class="d-flex flex-column w-100">
      <ul class="list-group">
        <li
          class="list-group-item ps-2"
          *ngFor="let shop of shops"
          [hidden]="(onlyFavourites && !shop.favourite) || !matchesFilter(shop)"
        >
          <div class="d-flex justify-content-start align-items-center w-100">
            <span
              (click)="doToggleFavourite(shop.id)"
              class="fa-star me-2"
              [ngClass]="{ far: !shop.favourite, fas: shop.favourite }"
            ></span
            ><a href="javascript://" (click)="doEditShop(shop)">{{
              shop.name
            }}</a>
            <div class="ms-auto d-flex align-items-center">
              <span
                (click)="doRemove(shop.id)"
                class="fas fa-trash ms-2"
              ></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </ng-container>
</div>

<ng-template #noData>
  <div
    class="
      mb-3
      mt-3
      d-flex
      flex-column
      justify-content-between
      align-items-start
      w-100
      h-100
    "
  >
    <small class="no-data-msg">Encara no has afegit cap botiga</small>
  </div>
</ng-template>
