.input-group-text {
  padding: 10px;
}

.list-group {
  height: calc(100vh - 355px) !important;
  overflow: auto !important;
  overflow: auto !important;

  .list-group-item {
    background-color: white;
    opacity: 1 !important;
  }
}
