.input-group-text {
  padding: 10px;
}

.list-group {
  height: calc(100vh - 355px) !important;
  overflow: auto !important;

  .list-group-item {
    background-color: white;
    opacity: 1 !important;
  }
}

.product-image {
  width: 50px;
}

i.no-product-image-icon {
}

.no-data {
  height: calc(100vh - 660px) !important;
}
