<div class="product-search d-flex flex-column w-100">
  <div class="d-flex w-100 my-3">
    <button
      class="btn btn-lg btn-secondary w-100 m-1 py-3"
      (click)="doCreateProduct()"
    >
      <div class="d-flex align-items-center justify-content-center">
        <i class="fas fa-plus me-3"></i>
        <div class="text-start">Nou producte</div>
      </div>
    </button>
  </div>
  <div class="d-flex justify-content-start align-items-center w-100 my-3">
    <div class="input-group d-flex align-items-center">
      <span
        (click)="onlyFavourites = !onlyFavourites"
        title="Nomès favorits"
        class="fa-star mx-2"
        [ngClass]="{ far: !onlyFavourites, fas: onlyFavourites }"
      ></span>
      <input
        #productSearchInput
        type="text"
        class="form-control"
        [readonly]="products.length < 1"
        placeholder="Cerca per nom, marca o codi de barres"
        aria-label="Cerca per nom"
      />
      <span class="input-group-text h-100"><i class="fas fa-search"></i></span>
    </div>
  </div>

  <!-- Exists data -->
  <ng-container *ngIf="products?.length > 0; else noData">
    <div class="d-flex flex-column w-100">
      <ul class="list-group">
        <li
          class="list-group-item ps-2"
          *ngFor="let product of products"
          [hidden]="
            (onlyFavourites && !product.favourite) || !matchesFilter(product)
          "
        >
          <div class="d-flex justify-content-start align-items-start w-100">
            <div
              class="
                d-flex
                flex-column
                justify-content-start
                align-items-center
                pe-2
              "
            >
              <ng-container *ngIf="product.imageUrl; else noProductImage">
                <img class="product-image" [src]="product.imageUrl" />
              </ng-container>
              <!--
              <span
                (click)="doToggleFavourite(product.barcode)"
                class="far fa-star mt-1"
                [ngClass]="{
                  far: !product.favourite,
                  fas: product.favourite
                }"
              ></span>
              -->
            </div>
            <div class="d-flex flex-column">
              <div class="d-flex w-100">
                <a href="javascript://" (click)="doEditProduct(product)">{{
                  product.name
                }}</a>
              </div>
              <div class="d-flex brand w-100">
                {{ product.brand }}
              </div>
            </div>
            <div class="ms-auto d-flex align-items-center">
              <span
                (click)="doToggleFavourite(product.barcode)"
                class="far fa-star ms-2"
                [ngClass]="{
                  far: !product.favourite,
                  fas: product.favourite
                }"
              ></span>
              <span
                (click)="doRemove(product.barcode)"
                class="fas fa-trash ms-2"
              ></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </ng-container>
</div>

<ng-template #noData>
  <div
    class="
      mb-3
      mt-3
      d-flex
      flex-column
      justify-content-between
      align-items-start
      w-100
      h-100
      no-data
    "
  >
    <small class="no-data-msg ps-4">Encara no has afegit cap producte</small>
  </div>
</ng-template>

<ng-template #noProductImage>
  <i class="fas fa-image no-product-image-icon"></i>
</ng-template>
