<ng-container *ngIf="!openFoodProductFound && !isSavedProduct">
  <div
    class="
      d-flex
      justify-content-center
      align-items-center
      w-100
      scanner-container
      mb-2
    "
  >
    <barcode-scanner-livestream
      type="ean"
      (valueChanges)="onValueChanges($event)"
      (started)="onStarted($event)"
    ></barcode-scanner-livestream>
    <div
      class="d-flex flex-column w-100 justify-content-center align-items-center"
      *ngIf="!barcodeScannerStarted"
    >
      <i class="mb-2 fas fa-spinner fa-spin"></i>
      <small class="fst-italic">{{'scanner.init' | translate}}</small>
    </div>
    <div
      class="d-flex flex-column w-100 justify-content-center align-items-center"
      *ngIf="barcodeScannerError"
    >
      <i class="mb-2 fas fa-warning text-danger"></i>
      <small class="fst-italic"
        >{{'scanner.initError' | translate}}</small
      >
    </div>
  </div>
</ng-container>

<div
  class="d-flex flex-column justify-content-center align-items-center mt-0"
  *ngIf="barcodeValue; else scanInstructions"
>
  <div
    class="d-flex flex-column justify-content-center align-items-center w-100"
  >
    <div *ngIf="!isSavedProduct && !openFoodProductFound">
      <span>{{'scanner.code' | translate}}:</span><span class="mx-2">{{ barcodeValue }}</span>
    </div>
    <div class="d-flex w-100 justify-content-center align-items-center my-2">
      <small>
        <ng-container *ngIf="isSavedProduct">
          <i class="fas fa-check text-success me-2"></i>
          <span *ngIf="isSavedProduct">{{'scanner.productRegistered' | translate}}</span>
        </ng-container>
        <ng-container *ngIf="!isSavedProduct && openFoodProductFound">
          <i class="fas fa-info-circle text-info me-2"></i>
          <span>{{'scanner.productNotRegistered' | translate}}</span>
        </ng-container>
        <ng-container *ngIf="!isSavedProduct && !openFoodProductFound">
          <div class="d-flex flex-column w-100 justify-content-start">
            <div class="d-flex w-100 justify-content-center align-items-center">
              <i class="fas fa-circle-question text-warning me-2"></i>
              <span>{{'scanner.productUnknown' | translate}}</span>
            </div>
          </div>
        </ng-container>
      </small>
    </div>
  </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center">
  <ng-container *ngIf="barcodeValue">
    <ng-container *ngIf="openFoodProductFound || isSavedProduct">
      <ng-container *ngTemplateOutlet="productTemplate"></ng-container>
    </ng-container>

    <ng-container
      *ngIf="
        !loadingOpenFoodProduct && !isSavedProduct && !openFoodProductFound
      "
    >
      <ng-container *ngTemplateOutlet="productAndPriceShopForm"></ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #productTemplate>
  <ng-container *ngIf="savedProduct">
    <app-product-scan-result
      [name]="savedProduct.name"
      [brand]="savedProduct.brand"
      [imageUrl]="savedProduct.imageUrl"
    ></app-product-scan-result>
  </ng-container>
  <ng-container *ngIf="openFoodProductFound">
    <app-product-scan-result
      [name]="openFoodProduct.product?.product_name"
      [brand]="openFoodProduct.product?.brands"
      [imageUrl]="openFoodProduct.product?.image_url"
    ></app-product-scan-result>
  </ng-container>
  <ng-container *ngIf="!savedProduct && !openFoodProductFound">
    <app-product-scan-result
      [name]="'?'"
      [brand]="'?'"
      [imageUrl]="DEFAULT_IMAGE_URL"
    ></app-product-scan-result>
  </ng-container>
  <ng-container *ngIf="mode === ProductScanModeEnum.CREATE">
    <div class="d-flex w-100 px-3">
      <ng-container *ngTemplateOutlet="priceShopForm"></ng-container>
    </div>
  </ng-container>
</ng-template>

<div *ngIf="false" class="d-flex flex-column">
  <ng-container *ngTemplateOutlet="debug"></ng-container>
</div>

<ng-template #productAndPriceShopForm>
  <div class="d-flex flex-column w-100 mt-2">
    <div class="form-group mb-3 w-100">
      <label for="prodbarcode">{{'scanner.code' | translate}}</label>
      <input
        id="prodbarcode"
        type="text"
        class="form-control"
        value="{{ newProduct.barcode }}"
        [(ngModel)]="newProduct.barcode"
      />
    </div>
    <div class="form-group mb-3 w-100">
      <label for="prodname">{{'scanner.name' | translate}}</label>
      <input
        id="prodname"
        type="text"
        class="form-control"
        value="{{ newProduct.name }}"
        [(ngModel)]="newProduct.name"
      />
    </div>
    <div class="form-group mb-3 w-100">
      <label for="prodbrand">{{'scanner.brand' | translate}}</label>
      <input
        id="prodbrand"
        type="text"
        class="form-control"
        value="{{ newProduct.brand }}"
        [(ngModel)]="newProduct.brand"
      />
    </div>
  </div>
  <div class="d-flex flex-column w-100 mt-2">
    <div class="form-group mb-3 w-100">
      <label for="shop">{{'scanner.shop' | translate}}</label>
      <select
        class="form-select"
        id="shop"
        [(ngModel)]="shopProduct.shopId"
        (change)="selectPriceInput()"
      >
        <option></option>
        <option *ngFor="let shop of shops" value="{{ shop.id }}">
          {{ shop.name }}
        </option>
      </select>
    </div>
    <div class="form-group mb-3 w-100">
      <label for="price">{{'scanner.proce' | translate}}</label>
      <input
        #priceInput
        id="price"
        type="number"
        class="form-control"
        value="{{ shopProduct.price }}"
        [(ngModel)]="shopProduct.price"
      />
    </div>
  </div>
  <button
    class="btn btn-lg btn-secondary my-2"
    [ngClass]="{ disabled: !canCreateProductAndPrice() }"
    (click)="createProduct()"
  >
    <i class="fas fa-shopping-basket me-3"></i><span>{{'scanner.productPriceSave' | translate}}</span>
  </button>
</ng-template>

<ng-template #priceShopForm>
  <div class="d-flex flex-column w-100 mt-2">
    <div class="form-group mb-3 w-100">
      <label for="shop">{{'scanner.shop' | translate}}</label>
      <select
        class="form-select"
        id="shop"
        [(ngModel)]="shopProduct.shopId"
        (change)="selectPriceInput()"
      >
        <option></option>
        <option *ngFor="let shop of shops" value="{{ shop.id }}">
          {{ shop.name }}
        </option>
      </select>
    </div>
    <div class="form-group mb-3 w-100">
      <label for="price">Preu</label>
      <input
        #priceInput
        id="price"
        type="number"
        class="form-control"
        value="{{ shopProduct.price }}"
        [(ngModel)]="shopProduct.price"
      />
    </div>
    <button
      class="btn btn-secondary btn-lg mb-3"
      [ngClass]="{
        disabled:
          !shopProduct.price ||
          shopProduct.price === 0 ||
          !shopProduct.shopId ||
          shopProduct.shopId.length === 0
      }"
      (click)="saveShopProduct()"
    >
    {{'scanner.save' | translate}}*
    </button>
  </div>
</ng-template>

<ng-template #scanInstructions>
  <div
    class="
      alert alert-info
      d-flex
      justify-content-start
      align-items-center
      mt-3
      w-100
      py-1
      px-2
    "
  >
    <i class="fas fa-info-circle me-3"></i>
    <small class="fst-italic"
      >{{'scanner.instructions' | translate}}</small
    >
  </div>
</ng-template>

<ng-template #noProductFound>
  <div class="d-flex justify-content-center align-items-center mt-3 w-100">
    <i class="fas fa-warning me-2"></i>
    <span>{{'scanner.productNotFound' | translate}}</span>
  </div>
</ng-template>

<ng-template #loader>
  <div class="d-flex justify-content-center align-items-center mt-3 w-100">
    <i class="fas fa-spinner me-2"></i>
    <span>{{'scanner.searchingProduct' | translate}}</span>
  </div>
</ng-template>

<ng-template #noProductImage>
  <div class="d-flex justify-content-start align-items-center mt-3 ms-3 w-100">
    <i class="fas fa-image"></i>
  </div>
</ng-template>

<ng-template #debug>
  <small>
    <ul class="mt-3">
      <li>mode: {{ mode }}</li>
      <li>isSavedProduct: {{ isSavedProduct }}</li>
      <li>openFoodProductFound: {{ openFoodProductFound }}</li>
      <li>loadingOpenFoodProduct: {{ loadingOpenFoodProduct }}</li>
      <li>-------------------------</li>
      <li *ngIf="shopProduct">{{ shopProduct | json }}</li>
      <li *ngIf="newProduct">{{ newProduct | json }}</li>
    </ul>
  </small>
</ng-template>
