.header-container {
  border-bottom: 3px solid #ccc;
  color: ghostwhite;
  height: calc(15vh) !important;
  background-color: #fff;
  border-radius: 0;
}

.reset {
  background-color: #fff;
  color: #6c757d;
  border-radius: 25px;
}
