<div class="page d-flex flex-column w-100">
  <div class="breadcrumb-container d-flex flex-column mb- px-3 w-100">
    <ng-container *ngTemplateOutlet="breadcrumb"></ng-container>
  </div>

  <div class="btn-group w-100 mb-3" role="group" aria-label="Basic example">
    <button
      type="button"
      class="btn btn-lg btn-secondary"
      [ngClass]="{ active: mode === 'SCANNER' }"
      (click)="setMode('SCANNER')"
    >
      <i class="fas fa-check me-2" *ngIf="mode === 'SCANNER'"></i>
      {{'scanner.scanner' | translate}}
    </button>
    <button
      type="button"
      class="btn btn-lg btn-secondary"
      [ngClass]="{ active: mode === 'MANUAL' }"
      (click)="setMode('MANUAL')"
    >
      <i class="fas fa-check me-2" *ngIf="mode === 'MANUAL'"></i>
      {{'scanner.manual' | translate}}
    </button>
  </div>

  <div class="d-flex flex-column px-3 w-100 h-100 page-content">
    <ng-container *ngIf="mode === 'SCANNER'">
      <div class="d-flex flex-column">
        <app-barcode-scanner
          [mode]="ProductScanModeEnum.CREATE"
          (onSaveShopProduct)="saveShopProduct($event)"
          (onCreateProduct)="createProduct($event)"
          (onProductFound)="productFound = true"
          (onBarcodeRead)="barcodeRead = true"
        ></app-barcode-scanner>

        <div
          class="
            d-flex
            justify-content-center
            align-items-start
            alert alert-light
          "
          *ngIf="!productFound && !barcodeRead"
        >
          <i class="fas fa-hand-point-right me-2 mt-1"></i>
          <small>
            {{'scanner.searchInstructions' | translate}}
          </small>
        </div>
      </div>
    </ng-container>
    <!-- <ng-container *ngIf="mode === 'MANUAL'"> -->
    <div
      class="d-flex flex-column w-100"
      [ngClass]="{ hidden: mode !== 'MANUAL' }"
      [style.height]="mode !== 'MANUAL' ? '0px' : 'auto'"
    >
      <ng-container *ngTemplateOutlet="productAndPriceShopForm"></ng-container>
    </div>
    <!-- </ng-container> -->

    <div
      class="
        modal-buttons
        d-flex
        justify-content-center
        align-items-center
        w-100
        pb-2
      "
    >
      <!--
      <button
        type="button"
        class="btn btn-lg btn-secondary ms-2 w-50"
        (click)="exit()"
      >
        Surt
      </button>
    --></div>
  </div>
</div>

<ng-template #breadcrumb>
  <div class="breadcrumb d-flex justify-content-start align-items-center w-100">
    <span class="step cursor-pointer" (click)="exit()">
      <i class="fas fa-home mx-2"></i
      ><span class="fst-italic">{{'breadcrumb.home' | translate}}</span></span
    >
    <span class="divider">/</span>
    <span class="step fw-bold" *ngIf="mode === 'SCANNER'">{{'scanner.scanner' | translate}}</span>
    <span class="step fw-bold" *ngIf="mode === 'MANUAL'">{{'scanner.manual' | translate}}</span>
  </div>
</ng-template>

<ng-template #productAndPriceShopForm>
  <div class="d-flex justify-content-center align-items-center w-100 mt-2">
    <img class="product-image" [src]="productDetail?.imageUrl" />
  </div>
  <div class="d-flex flex-column w-100 mt-0">
    <label class="fw-bold my-2">{{'scanner.product' | translate}}</label>
    <div class="d-flex form-group mb-1 w-100">
      <label class="pe-3" for="prodbarcode">{{'scanner.code' | translate}}</label>
      <input
        #barcodeInput
        id="prodbarcode"
        type="number"
        class="form-control"
        value="{{ productDetail?.barcode }}"
        [(ngModel)]="productDetail.barcode"
        placeholder="{{'scanner.code' | translate}}"
      />
    </div>
    <div class="form-group mb-1 w-100">
      <label class="pe-3" for="prodname">Nom</label>
      <input
        id="prodname"
        type="text"
        class="form-control"
        [ngClass]="{ readonly: lockProductEdition }"
        value="{{ productDetail?.name }}"
        [(ngModel)]="productDetail.name"
        placeholder="{{'scanner.name' | translate}}"
      />
    </div>
    <div class="form-group mb-1 w-100">
      <label class="pe-3" for="prodbrand">{{'scanner.brand' | translate}}</label>
      <input
        id="prodbrand"
        type="text"
        class="form-control"
        [ngClass]="{ readonly: lockProductEdition }"
        value="{{ productDetail?.brand }}"
        [(ngModel)]="productDetail.brand"
        placeholder="{{'scanner.brand' | translate}}"
      />
    </div>
  </div>

  <hr />

  <div class="d-flex flex-column w-100">
    <label class="fw-bold my-2">{{'scanner.price' | translate}}</label>
    <div class="form-group mb-1 w-100">
      <label class="pe-3" for="shop">{{'scanner.shop' | translate}}</label>
      <select
        class="form-select"
        id="shop"
        [(ngModel)]="shopProductDetail.shopId"
        (change)="selectPriceInput()"
      >
        <option></option>
        <option *ngFor="let shop of shops" value="{{ shop.id }}">
          {{ shop.name }}
        </option>
      </select>
    </div>
    <div class="form-group mb-1 w-100">
      <label class="pe-3" for="price">{{'scanner.price' | translate}}</label>
      <input
        #priceInput
        id="price"
        type="number"
        class="form-control"
        value="{{ shopProductDetail?.price }}"
        [(ngModel)]="shopProductDetail.price"
        placeholder="{{'scanner.price' | translate}}"
      />
    </div>
  </div>
  <button
    class="btn btn-lg btn-secondary my-3"
    [ngClass]="{ disabled: !canCreateProductAndPrice() }"
    (click)="
      createProduct({
        product: productDetail,
        shopProduct: shopProductDetail
      })
    "
  >
    <span>{{'scanner.save' | translate}}</span>
  </button>
</ng-template>
