<div class="page d-flex flex-column w-100">
  <div class="sticky-header bg-warning d-flex flex-column p-0 w-100">
    <ng-container *ngIf="productDetail">
      <ng-container *ngTemplateOutlet="breadcrumb"></ng-container>
    </ng-container>

    <div class="btn-group w-100" role="group" aria-label="Basic example">
      <button
        type="button"
        class="btn btn-lg btn-secondary"
        [ngClass]="{ active: selectedTab === 0 }"
        (click)="selectedTab = 0"
      >
        <i class="fas fa-check me-2" *ngIf="selectedTab === 0"></i>
        {{'product.detail' | translate}}
      </button>
      <button
        type="button"
        class="btn btn-lg btn-secondary"
        [ngClass]="{ active: selectedTab === 1 }"
        (click)="selectedTab = 1"
      >
        <i class="fas fa-check me-2" *ngIf="selectedTab === 1"></i>
        {{'product.prices' | translate}}
        <small class="sm-2"
          >({{ shopProducts?.length | number: '1.0-2' }})</small
        >
      </button>
      <button
        type="button"
        class="btn btn-lg btn-secondary"
        [ngClass]="{ active: selectedTab === 2 }"
        (click)="selectedTab = 2"
        *ngIf="openFoodProduct"
      >
        <i class="fas fa-check me-2" *ngIf="selectedTab === 1"></i>
        {{'product.characteristics' | translate}}
      </button>
    </div>
  </div>

  <ng-container *ngIf="productDetail">
    <ng-container *ngIf="selectedTab === 0">
      <div
        class="d-flex card transparent flex-column p-3 w-100"
        [ngClass]="{ 'pb-1': productDetail?.createdBy }"
      >
        <div class="modal-content d-flex flex-row">
          <div class="d-flex flex-column w-100 p-3">
            <div class="form-group mb-3 w-100">
              <label for="productBarcode" class="text-start w-100">{{'product.barcode' | translate}}</label>
              <input
                type="text"
                class="form-control"
                id="productBarcode"
                [(ngModel)]="productDetail.barcode"
                placeholder="Codi de barres"
                readonly="readonly"
              />
            </div>
            <div class="form-group mb-3 w-100">
              <label for="productName" class="text-start w-100">{{'product.name' | translate}}</label>
              <ng-container *ngIf="canEdit()">
                <input
                  type="text"
                  class="form-control"
                  id="productName"
                  [(ngModel)]="productDetail.name"
                  placeholder="{{'product.name' | translate}}"
                />
              </ng-container>
              <ng-container *ngIf="!canEdit()">
                <input
                  type="text"
                  class="form-control"
                  id="productName"
                  [(ngModel)]="productDetail.name"
                  placeholder="{{'product.name' | translate}}"
                  readonly="readonly"
                />
              </ng-container>
            </div>
            <div class="form-group mb-3 w-100">
              <label for="productBrand" class="text-start w-100">{{'product.brand' | translate}}</label>
              <ng-container *ngIf="canEdit()">
                <input
                  type="text"
                  class="form-control"
                  id="productBrand"
                  [(ngModel)]="productDetail.brand"
                  placeholder="{{'product.brand' | translate}}"
                />
              </ng-container>
              <ng-container *ngIf="!canEdit()">
                <input
                  type="text"
                  class="form-control"
                  id="productBrand"
                  [(ngModel)]="productDetail.brand"
                  placeholder="{{'product.brand' | translate}}"
                  readonly="readonly"
                />
              </ng-container>
            </div>

            <div class="d-flex justify-content-end form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                [(ngModel)]="productDetail.favourite"
                role="switch"
                id="flexSwitchCheckDefault"
              />
              <label class="form-check-label ms-2" for="flexSwitchCheckDefault"
                >{{'product.favourite' | translate}}</label
              >
            </div>

            <ng-container *ngIf="productDetail.imageUrl"
              ><div
                class="d-flex mt-3 justify-content-center align-items-start"
              >
                <img
                  class="product-detail-image"
                  [src]="productDetail.imageUrl"
                /></div
            ></ng-container>
          </div>
        </div>
      </div>

      <ng-container
        *ngIf="productDetail?.createdBy"
      >
        <div class="author d-flex justify-content-end w-100 ps-3 pe-4 mb-2">
          <span class="label me-1 fst-italic">{{'product.createdBy' | translate}}:</span>
          <span class="value">{{ productDetail?.createdBy?.username ? productDetail?.createdBy?.username : productDetail?.createdBy?.email.substr(0, productDetail?.createdBy?.email.indexOf('@')) }}</span>
        </div>
      </ng-container>

      <div
        class="
          modal-buttons
          d-flex
          justify-content-center
          align-items-center
          w-100
          px-3
          mt-auto
        "
      >
        <button
          type="button"
          class="btn btn-lg btn-secondary w-100"
          [ngClass]="{
            disabled:
              productDetail?.brand.length < 1 ||
              productDetail?.name.length < 1 ||
              productDetail?.barcode.length < 1
          }"
          (click)="updateProduct()"
        >
          <span class="fas fa-floppy-disk me-1"></span>
          {{'product.save' | translate}}
        </button>
        <!--
        <button
          type="button"
          class="btn btn-lg btn-light ms-2 w-50"
          [routerLink]="'../../search-products'"
        >
          {{'product.dcloseetail' | translate}}
        </button>
        -->
      </div>
    </ng-container>

    <ng-container *ngIf="selectedTab === 1">
      <div class="shop-products d-flex flex-column w-100 my-3 px-3">
        <div class="d-flex justify-content-between align-items-center px-1">
          <button class="btn btn-lg btn-lg ps-0">
            {{'product.pricesInShops' | translate}}
            <small class="sm-2"
              >({{ shopProducts?.length | number: '1.0-2' }})</small
            >
          </button>
          <!--
          <i
            class="fas fa-plus cursor-pointer p-2 me-1"
            (click)="toggleNewShopProduct()"
          ></i>
          -->
        </div>
        <ng-container>
          <ng-container *ngIf="shopProducts?.length > 0; else noShopsProducts">
            <ul class="list-group shops">
              <ng-container *ngFor="let shopProduct of shopProducts">
                <li class="list-group-item">
                  <div
                    class="d-flex justify-content-start align-items-start w-100"
                  >
                    <img
                      class="shop-image"
                      [src]="getShopImage(shopProduct.shopId)"
                    />
                    <a
                      [routerLink]="['/edit-shop/' + shopProduct.shopId]"
                      class="cursor-pointer d-flex flex-column ps-2"
                      href="javascript://"
                      >{{ getShopName(shopProduct.shopId) }}
                    </a>

                    <div class="d-flex align-items-center ms-auto nowrap">
                      <span class="ps-3">
                        <span
                          *ngIf="canRemoveShopProduct(shopProduct)"
                          class="fas fa-trash cursor-pointer me-3"
                          (click)="removeShopProduct(shopProduct)"
                        ></span>
                        <i
                          [ngClass]="{
                            disabled: !hasHistory(shopProduct)
                          }"
                          class="fas fa-chart-line pe-2 cursor-pointer"
                          (click)="showHistory(shopProduct)"
                        ></i>
                        {{ shopProduct.price | number: '1.2-2' }} €</span
                      >
                    </div>
                  </div>
                </li>
                <li
                  class="list-group-item history"
                  *ngIf="
                    historyShopProduct?.shopId === shopProduct.shopId &&
                    historyShopProduct?.productBarcode ===
                      shopProduct.productBarcode
                  "
                >
                  <ul class="w-100 m-0 p-0">
                    <li
                      *ngFor="
                        let productPrice of historyShopProductList;
                        let idx = index
                      "
                    >
                      <div
                        class="
                          d-flex
                          justify-content-between
                          align-items-start
                          w-100
                          px-2
                          py-1
                        "
                        [ngClass]="{ 'fw-bold': idx === 0 }"
                      >
                        <div class="d-flex flex-column text-start">
                          <span>
                            {{
                              productPrice.updateDate | date: 'dd.MM.YYYY HH:mm'
                            }}
                          </span>
                          <span
                            *ngIf="loggedUser.admin && productPrice.createdBy"
                            class="user text-start"
                            >({{ productPrice.createdBy.username || productPrice.createdBy.email }})</span
                          >
                        </div>
                        <div>
                          <span
                            >{{ productPrice.price | number: '1.2-2' }} €</span
                          >
                          <span
                            [ngClass]="{
                              disabled: !canRemoveShopProduct(productPrice)
                            }"
                            class="fas fa-trash cursor-pointer ps-3"
                            (click)="removeShopProduct(productPrice)"
                          ></span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ng-container>
            </ul>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedTab === 2">
      <div class="characteristics d-flex flex-column w-100 my-3 px-3">

        <ng-container *ngIf="loadingOpenFoodProduct">
          <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
            <i class="fas fa-spinner fa-spin"></i>
          </div> 
        </ng-container>

        <ng-container *ngIf="openFoodProduct?.product?.categories">
          <div class="d-flex flex-column justify-content-start align-items-start w-100 my-3">
            <h5 class="text-start">{{'product.category' | translate}}</h5>
            <small class="text-start">{{openFoodProduct?.product?.categories}}</small>
          </div>
        </ng-container>

        <ng-container *ngIf="openFoodProduct?.product?.nutriscore_data?.grade">
          <div class="d-flex flex-column justify-content-start align-items-start w-100 my-3">
            <h5 class="text-start w-100">Nutri-Score</h5>
            <div class="d-flex align-items-center w-100">
              <img [src]="'https://static.openfoodfacts.org/images/attributes/nutriscore-' + openFoodProduct.product.nutriscore_data.grade +'.svg'" class="nutriscore">
              <small class="text-start ms-3 mt-3">{{'product.nutriscore.' + openFoodProduct.product.nutriscore_data.grade | translate}}</small>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="openFoodProduct?.product?.nova_group">
          <div class="d-flex flex-column justify-content-start align-items-start w-100 my-3">
            <h5 class="text-start w-100">Nova group</h5>
            <div class="d-flex align-items-center w-100">
              <img [src]="'https://static.openfoodfacts.org/images/attributes/nova-group-' + openFoodProduct.product.nova_group +'.svg'" class="novagroup">
              <small class="text-start ms-3 mt-3">{{'product.nova.nova' + openFoodProduct.product.nova_group | translate}}</small>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="openFoodProduct?.product?.ecoscore_grade">
          <div class="d-flex flex-column justify-content-start align-items-start w-100 my-3">
            <h5 class="text-start w-100">Eco-Score</h5>
            <div class="d-flex align-items-center w-100">
              <img [src]="'https://static.openfoodfacts.org/images/attributes/ecoscore-' + openFoodProduct.product.ecoscore_grade.replace('not-applicable', 'unknown') +'.svg'" class="ecoscore">
              <small class="text-start ms-3">{{'product.ecoscore.ecoscore' + openFoodProduct.product.ecoscore_grade.toUpperCase().replace('-', '') | translate}}</small>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="openFoodProduct?.product?.allergens?.length>0">
          <div class="d-flex flex-column justify-content-start align-items-start w-100 my-3">
            <h5 class="text-start w-100">{{'product.allergens' | translate}}</h5>
            <div class="d-flex align-items-center w-100">
              <small>{{getAlergens()}}</small>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="openFoodProduct?.product?.nutrient_levels?.fat">
          <div class="d-flex flex-column justify-content-start align-items-start w-100 my-3">
            <h5 class="text-start w-100">{{'product.nutrientLevels' | translate}}</h5>
            <div class="d-flex align-items-center justify-content-between w-100">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <small>{{'product.nutrients.fat' | translate}}</small>
                <ng-container [ngTemplateOutlet]="levelBadge" [ngTemplateOutletContext]="{levelValue:openFoodProduct.product.nutrient_levels.fat}"></ng-container>
              </div>
              <div class="d-flex flex-column align-items-center justify-content-center">
                <small>{{'product.nutrients.salt' | translate}}</small>
                <ng-container [ngTemplateOutlet]="levelBadge" [ngTemplateOutletContext]="{levelValue:openFoodProduct.product.nutrient_levels.salt}"></ng-container>
              </div>
              <div class="d-flex flex-column align-items-center justify-content-center">
                <small>{{'product.nutrients.saturedFat' | translate}}</small>
                <ng-container [ngTemplateOutlet]="levelBadge" [ngTemplateOutletContext]="{levelValue:openFoodProduct.product.nutrient_levels['saturated-fat']}"></ng-container>
              </div>
              <div class="d-flex flex-column align-items-center justify-content-center">
                <small>{{'product.nutrients.sugars' | translate}}</small>
                <ng-container [ngTemplateOutlet]="levelBadge" [ngTemplateOutletContext]="{levelValue:openFoodProduct.product.nutrient_levels.sugars}"></ng-container>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </ng-container>

  </ng-container>
</div>

<ng-template #breadcrumb>
  <app-breadcrumbs></app-breadcrumbs>
</ng-template>

<ng-template #noShopsProducts>
  <div class="d-flex justify-content-start align-items-center w-100">
    <small class="ps-2">{{'product.noData' | translate}}</small>
  </div>
</ng-template>

<ng-template #levelBadge let-levelValue="levelValue">
  <div class="badge" [ngClass]="{
    'bg-danger': levelValue==='high',
    'bg-warning': levelValue==='moderate',
    'bg-success': levelValue==='low'
  }">{{'commons.levels.' + levelValue | translate}}</div>
</ng-template>
