<div class="sticky-header d-flex flex-column px-3 w-100 bg-danger">
    <ng-container *ngTemplateOutlet="breadcrumb"></ng-container>
  </div>
  
  <ng-container *ngIf="userAlerts?.alerts?.length > 0; else noData">
    <div class="page-content d-flex flex-column mb-4 pt-4 px-3 w-100">

        <div class="alert alert-info d-flex" *ngIf="unreadAlerts > 0">
          <i class="fas fa-triangle-exclamation me-2 mt-1"></i>
          <div class="text-start">{{'alerts.unreadInfoText' | translate}}</div>
        </div>
        
        <div class="card" class="w-100">
            <ul class="list-group list-group-flush">
                <ng-container *ngFor="let alert of userAlerts.alerts">
                    <li class="list-group-item text-start p-0 mb-1" [ngClass]="{'read': alert.read}" (click)="toggleReadAlert(alert)">
                      <div class="d-flex w-100">
                        <div class="left d-flex flex-column align-items-center justify-content-center w-25 px-2">
                          <div class="icon-container" [ngClass]="{'text-success':alert.lastPrice>alert.currentPrice,'text-danger':alert.lastPrice<alert.currentPrice}">
                            <i class="fas mb-1" [ngClass]="{'fa-circle-arrow-down': alert.lastPrice>alert.currentPrice,'fa-circle-arrow-up':alert.lastPrice<alert.currentPrice}"></i>
                          </div>
                          <div>
                            {{(alert.currentPrice - alert.lastPrice > 0) ? '+' : ''}}{{alert.currentPrice - alert.lastPrice | number:'1.2-2'}} €
                          </div>
                        </div>
                        <div class="left d-flex align-items-center justify-content-center">
                          <img class="shop-logo" [src]="getShop(alert.shopId).imageUrl">
                        </div>
                        <div class="right d-flex flex-column p-3">
                          <div class="d-flex w-100 mb-2">
                            <div>{{alert.date | date:'dd.MM.yyyy - HH:mm'}}</div>
                          </div>
                          <div class="d-flex">
                            <div class="fw-bold">{{getProduct(alert.productBarcode).name}}</div>
                          </div>                        
                        </div>
                      </div>
                    </li>
                </ng-container>              
            </ul>
        </div>

    </div>
  </ng-container>  
  
  <ng-template #breadcrumb>
    <div class="breadcrumb d-flex justify-content-start align-items-center w-100">
      <span class="step cursor-pointer" (click)="exit()">
        <i class="fas fa-home mx-2"></i
        ><span class="fst-italic">{{'breadcrumb.home' | translate}}</span>
      </span>
      <span class="divider mx-2">/</span>
      <span class="step fw-bold">{{'breadcrumb.alerts' | translate}}</span>
    </div>
  </ng-template>

  <ng-template #noData>
    <div
      class="
        mb-3
        mt-3
        d-flex
        flex-column
        justify-content-center
        align-items-center
        w-100
        h-100
        no-data
      "
    >
      <small class="no-data-msg ps-4" >{{'commons.noData' | translate}}</small>
    </div>
  </ng-template>
  